doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    section.eror 
    .eror__container 
      h2.eror__title Kan ikke gå lenger (404)
      p.eror__description Vi ser ikke ut til å finne siden du leter etter. Ønsker du å gå tilbake til 
        a(href="#").eror__descriptionSpan hjemmesiden 
        | vår i stedet?
      img.eror__img(src="./image/eror404.png", alt="Eror")
      ul.eror__links
        li.eror__link 
          a.eror__link(href="#") Kasinoer
        li.eror__link 
         a.eror__link(href="#") Bonuser
        li.eror__link 
          a.eror__link(href="#") Spilleautomater
        li.eror__link.eror__link--remove 
          a.eror__link(href="#") Facebook
        li.eror__link.eror__link--remove 
          a.eror__link(href="#") Instagram
        li.eror__link.eror__link--remove 
          a.eror__link(href="#") Twitter